*
    font-family: Arial, Helvetica, sans-serif
    font-size: 36px
    color: green

.wrapper
    display: flex
    align-items: center

@keyframes MyAnimation
    0% 
        left: 0	
    50% 
        left: 200px	
    100% 
        left: 20px	